/* Status column in the table returned by search results */
th.status-column, td.status-column {
    width: 290px; 
    white-space: wrap; /* text wrapping */
}
body {
    overflow-x: auto; /* Adds a horizontal scroll bar if content overflows */
    background-color: #F5F5F5;
}
/* Ensure the background color extends to the full page */
html, body {
    height: 100%; /* Make the html and body elements fill the viewport height */
}
/* Set the navbar background color */
.navbar {
    background-color: #F5F5F5; /* Match the page background color */
    border: none; 
}
/* Change the color of the dropdown arrow */
.navbar-link::after {
    border-color: #4269D0;
}
/* Color palette */
/* Background color for webpages */
.bg-light {
    background-color: #F5F5F5;
}
/* Text colors*/
.custom-text-dark {
    color: #3D474A;
}
.custom-green {
    color: #4BAB68;
}
.custom-red {
    color: #C73223;
}
.custom-pink {
    color: #ECC6E3;
}
.custom-blue {
    color: #4269D0;
}
.custom-yellow {
    color: #FFAB0D;
}
.custom-purple {
    color: #A12FA7;
}
/* Button colors */
.button-green {
    background-color: #4BAB68;
    color: #F5F5F5;
}
.button-blue {
    background-color: #4269D0;
    color: #F5F5F5;
}
.button-purple {
    background-color: #A12FA7;
    color: #F5F5F5;
}
.button-pink {
    background-color: #ECC6E3;
    color: #3D474A;
}
.button-yellow {
    background-color: #FFAB0D;
    color: #3D474A;
}
.button-red {
    background-color: #C73223;
    color: #F5F5F5;
}