{% load static %}
<!doctype html>
<html data-theme="light" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="{% static 'css/pico.min.css' %}" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <main
      class="container"
      style="width: max(500px, 50%); margin-left: auto; margin-right: auto"
    >
      {% block content %} {% endblock %}
    </main>
  </body>
</html>
