<!DOCTYPE html>
<html data-theme = "light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <!-- Link to custom CSS -->
    <link rel="stylesheet" href="../static/css/custom.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
          <div class="container" style="max-width: 100%;">
            <div class="columns is-vcentered is-mobile" style="margin: 0;">
              <!-- Title Column -->
              <div class="column is-narrow" style="padding-left: 0; flex-grow: 0;">
                  <h1 class="title is-1">BILLinois</h1>
              </div>
              <!-- Search Column -->
              <div class="column" style="flex-grow: 1;">
                <!-- Search Bar -->
                <!-- <div class="container is-max-tablet">
                  <p class="control has-icons-left">
                    <input class="input" type="topic" placeholder="Search bills by name or topic...">
                    <span class="icon is-small is-left">
                      <i class="fas fa-search"></i>
                    </span>
                  </p>
                </div>
              </div> -->
              <!-- Menu Column -->
                <!-- Menu Column -->
                <div class="column is-narrow has-text-right" style="flex-grow:0;">
                  <!-- Home Link -->
                  <a href="/home" class="icon-text has-text-link ml-4 is-clickable hover-link">
                    <span class="icon">
                      <i class="fas fa-home"></i>
                    </span>
                    <span>Home</span>
                  </a>
                  <!-- Separator -->
                  <span class="mx-1">|</span>
                  <!-- Sign In Link -->
                  <a href="/signin" class=" icon-text has-text-link is-clickable hover-link">
                    <span class="icon">
                      <i class="fa-solid fa-circle-user"></i>
                    </span>
                    <span>Sign in</span>
                  </a>
                </div>
            </div>
          </div>
        <section>
        <br>
        <br>
        <section>
        <div class = "container grid" style="max-width: 100%;">
          <!-- User Information -->
            <div class = "cell">
              <div class = "card">
                <div class = "card-content ">
                  <h2 class = "title is-4 m-2" >Regular Arko</h1>
                  <p class = "subtitle is-6 m-2"> arkoreg@internet.com </p>
                  <br>
                  <!-- Alerts Toggle -->
                  <div class = "is-flex is-align-items-center">
                    <p class = "subtitle is-6 m-2"><strong>Alerts: </strong></p>
                    <label class="switch">
                      <input type="checkbox">
                      <div class="slider"></div>
                      <div class="slider-card">
                        <div class="slider-card-face slider-card-front"></div>
                        <div class="slider-card-face slider-card-back"></div>
                      </div>
                    </label>
                  </div>
                  <br>
                  <!-- Card Footer -->
                  <div class="card-footer has-text-left">
                    <a href="/accounts/password/change/" class="card-footer-item has-text-left has-text-link">Edit Password</a>
                  </div>
                  <div class="card-footer is-justify-content-start">
                    <a href="/accounts/email/" class="card-footer-item has-text-link">Edit Email</a>
                  </div>
                </div>
            </div>
            </div>
          <!-- User Favorites -->
            <div class = "cell is-col-span-3">
              <div class = "card pb-2">
                <h1 class = "card-content title is-4">Favorites</h1>
                <!-- <div class = "container"> -->
                  <div class = "card m-2">
                    <div class = "card-content">
                      <div class = "columns is-vcentered">
                        <div class = "column is-narrow">
                          <h2 class = "title is-size-6"> HB 1642 </h1>
                        </div>
                        <div class = "column">
                          <a href = "#" class = "title is-size-6 has-text-link"> Clean Transportation Standard Act</a>
                        </div>
                        <div class = "column is-narrow">
                          <span class="tag is-rounded is-success">Energy</span>
                          <span class="tag is-rounded is-link">Transportation</span>
                        </div>
                        <div class = "column is-narrow">
                          <span class="icon has-text-warning">
                            <i class="fa-solid fa-star"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div> 
                <div class = "card m-2">
                  <div class = "card-content">
                    <div class = "columns is-vcentered">
                      <div class = "column is-narrow">
                        <h2 class = "title is-size-6"> HB 1642 </h1>
                      </div>
                      <div class = "column">
                        <a href = "#" class = "title is-size-6 has-text-link"> Illinois Appliance Standards Act</a>
                      </div>
                      <div class = "column is-narrow">
                        <span class="tag is-rounded is-success">Energy</span>
                        <span class="tag is-rounded is-info">Housing</span>
                      </div>
                      <div class = "column is-narrow">
                        <span class="icon has-text-warning">
                          <i class="fa-solid fa-star"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div> 
                <div class = "card m-2">
                  <div class = "card-content">
                    <div class = "columns is-vcentered">
                      <div class = "column is-narrow">
                        <h2 class = "title is-size-6"> HB 1234 </h1>
                      </div>
                      <div class = "column">
                        <a href = "#" class = "title is-size-6 has-text-link"> Accidentally Favorited Act </a>
                      </div>
                      <div class = "column is-narrow">
                      </div>
                      <div class = "column is-narrow">
                        <span class="icon has-text-warning">
                          <i class="fa-regular fa-star"></i>
                        </span>
                      </div>
                    </div>
                </div>
              </div> 
            <!-- </div> -->
            </div>
            </div>
          </div>
        </section>
    </div>
  </section>
  </body>
</html>