{% load static %}
<!doctype html>
<html data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>User Profile</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <!-- Link to custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
  </head>
  <body>
    <!-- Navigation Section -->
    <section class="section">
      <div class="container">
        <div class="container" id="navigation" style="max-width: 100%">
          <div class="columns is-vcentered is-mobile" style="margin: 0">
            <!-- Title Column -->
            <div class="column is-narrow" style="padding-left: 0; flex-grow: 0">
              <a href="/" class="title is-1 custom-text-dark">BILLinois </a>
            </div>
            <!-- Search Column, for spacing-->
            <div class="column" style="flex-grow: 1">
              <!-- Search Bar -->
              <!-- <div class="container is-max-tablet">
              <p class="control has-icons-left">
                <input class="input" type="topic" placeholder="Search bills by name or topic...">
                <span class="icon is-small is-left">
                  <i class="fas fa-search"></i>
                </span>
              </p>
            </div> -->
            </div>
            <!-- Dropdown Menu -->
            <nav
              class="navbar"
              role="navigation"
              aria-label="dropdown navigation"
            >
              <div class="navbar-brand">
                <a
                  role="button"
                  class="navbar-burger"
                  aria-label="menu"
                  aria-expanded="false"
                  data-target="navbarMenu"
                >
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </a>
              </div>
              <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                  <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link"> Menu </a>
                    <div class="navbar-dropdown is-boxed">
                      {% if user.is_authenticated %}
                      <a href="/favorites" class="navbar-item">My Account</a>
                      <a href="/accounts/logout" class="navbar-item"
                        >Sign Out</a
                      >
                      {% else %}
                      <a href="/accounts/login" class="navbar-item">Log In</a>
                      <a href="/accounts/signup/" class="navbar-item"
                        >Sign Up</a
                      >
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </section>

    <!-- User Information Section -->
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-one-quarter">
            <div class="card">
              <div class="card-content">
                {% if user.full_name %}
                <h2 class="title is-4 custom-text-dark">
                  {{ user.full_name }}
                </h2>
                {% else %}
                <h2 class="title is-4 custom-text-dark">Hello, User!</h2>
                {% endif %}
                <p class="subtitle is-6 custom-text-dark">{{ user.email }}</p>
                <!-- Alerts Toggle -->
                <div class="is-flex is-align-items-center pb-3">
                  <p class="subtitle is-6 mb-0 mr-3">
                    <strong>Alerts: </strong>
                  </p>
                  <form
                    class="mb-0"
                    action="{% url 'unsubscribe' %}"
                    method="post"
                  >
                    {% csrf_token %}
                    <label class="switch">
                      <input
                        type="checkbox"
                        name="is_subscribed"
                        value="true"
                        onchange="this.form.submit()"
                        {%
                        if
                        user.is_subscribed
                        %}checked{%
                        endif
                        %}
                      />
                      <!-- prettier-ignore -->
                      <div class="slider"></div>
                      <div class="slider-card">
                        <div class="slider-card-face slider-card-front"></div>
                        <div class="slider-card-face slider-card-back"></div>
                      </div>
                    </label>
                  </form>
                </div>
                <!-- Card Footer -->
                <div class="card-footer">
                  <a
                    href="/accounts/email/"
                    class="card-footer-item has-text-link"
                    >Edit Email</a
                  >
                </div>
              </div>
              <div class="card-footer">
                <a
                  href="/accounts/password/change/"
                  class="card-footer-item has-text-link"
                  >Edit Password</a
                >
              </div>
              <div class="card-footer">
                <a
                  href="/accounts/delete_account/"
                  class="card-footer-item has-text-link"
                  >Delete Account</a
                >
              </div>
            </div>
          </div>
          <!-- User Favorites Section -->
          <div class="column">
            <div class="card pb-2">
              <h1 class="card-content title is-4 custom-text-dark">
                Favorites
              </h1>
              {% for bill in favorited_bills %}
              <div class="card m-2">
                <div class="card-content">
                  <div class="columns is-vcentered">
                    <div class="column is-narrow">
                      <h2 class="title is-size-6 custom-text-dark">
                        {{ bill.state }}
                      </h2>
                    </div>
                    <div class="column is-narrow">
                      <h2 class="title is-size-6 custom-text-dark">
                        {{ bill.number }}
                      </h2>
                    </div>
                    <div class="column">
                      <a
                        href="/bill/{{ bill.bill_id }}/"
                        class="is-size-6 has-text-link"
                        >{{ bill.title }}</a
                      >
                    </div>
                    <div class="column is-narrow">
                      <!-- for loop for bill Topics will go here -->
                      {% for topic in bill.topicstable_set.all %}
                      <span
                        class="{% if topic.topic == 'Education' %}button-blue {% elif topic.topic == 'Energy/Environment' %}button-green {% elif topic.topic == 'Health' %}button-red {% elif topic.topic == 'Transportation' %}button-purple {% elif topic.topic == 'Housing' %}button-pink {% elif topic.topic == 'LGBTQIA' %}button-yellow {% endif %} tag is-rounded is-medium"
                        >{{ topic.topic }}
                      </span>
                      {% endfor %}
                    </div>
                    <div class="column is-narrow">
                      <!-- prettier-ignore -->
                      {% include "partials/favorite_button.html" with bill=bill is_favorite=bill.favorite %}
                    </div>
                  </div>
                </div>
              </div>
              {% empty %}
              <p class="card-content">
                <em
                  >No favorited bills found. <a href="/search">Search</a> for
                  bills to add them to your favorites!</em
                >
              </p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- JS for burger menu -->
    <script src="{% static 'js/burger.js' %}"></script>
    <script src="https://unpkg.com/htmx.org"></script>
  </body>
</html>
