<!DOCTYPE html>
<html data-theme = "light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <!-- Link to custom CSS -->
    <link rel="stylesheet" href="../static/css/custom.css">
  </head>
  <body>
    <section class = "section">
          <!-- Dropdown Menu -->
          <nav class="navbar is-right is-flex is-justify-content-flex-end" role="navigation" aria-label="dropdown navigation">
            <div class = "navbar-end">
              <div id="navbarMenu" class="navbar-menu is-right">
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    Menu
                  </a>
                  <div class="navbar-dropdown is-boxed">
                    {% if user.is_authenticated %}
                    <a href="" class="navbar-item">My Account</a>
                    <a href="/accounts/logout" class="navbar-item">Sign Out</a>
                    {% else %}
                    <a href="/accounts/login" class="navbar-item">Log In</a>
                    <a href="/accounts/signup/" class="navbar-item">Sign Up</a> 
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </nav> 
    </section>
  <section class="section">
    <div class="container">
      <h1 class="title is-1 has-text-centered custom-text-dark">
        BILLinois
      </h1>
      <p class="subtitle has-text-centered custom-text-dark">
       Civic Engagement, Made Simple.
      </p>
    </div>
  </section>
  <section class = "section">
    <div class="container is-max-tablet mt-3 mb-3">
        <p class="mt-3 mb-3 has-text-centered custom-text-dark">
          Get started by searching a custom bill topic or clicking on a bill category below.
        </p>
        <form method="GET" action="./search">
          <div class="field has-addons has-addons-centered">
            <div class="control has-icons-left is-expanded">
              <input
                class="input"
                type="text"
                name="query"
                placeholder="Search bills by name or topic..."
              />
              <span class="icon is-small is-left">
                <i class="fas fa-magnifying-glass"></i>
              </span>
            </div>
          </div>
        </form>
      </div>
      </div>
      <br>
      <br>
    <div class = "container is-max-tablet">
        <div class="grid buttons is-column-gap-7">
            <a href = "./search/?query=education" class="cell button is-medium button-blue ">Education</a>
            <a href = "./search/?query=energy" class="cell button is-medium button-green">Energy/Environment</a>
            <a href = "./search/?query=health" class="cell button is-medium button-red is-row-start-2">Health</a>
            <a href = "./search/?query=transportation" class="cell button is-medium button-purple is-row-start-2">Transportation</a>
            <a href = "./search/?query=housing" class="cell button is-medium button-pink is-row-start-3">Housing</a>
            <a href = "./search/?query=LGBTQIA" class="cell button is-medium button-yellow is-row-start-3">LGBTQIA</a>
        </div>
    </div>
  </section>
  <!-- JS for burger menu -->
  <script src="../static/js/burger.js"></script>
  </body>
</html>