<!doctype html>
<html data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Search Results</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css"
    />
    <!-- Link to custom CSS -->
    <link rel="stylesheet" href="../static/css/custom.css" />
  </head>
  <body>
    <section class="section">
      <div class="container" style="max-width: 100%">
        <h1>Privacy Policy</h1>
        <p>
          The goal of BILLinois is to enable everyone in Illinois to learn about
          and track legislation they care about. As such, we collect data from
          users to notify them when the status of their favorite bills change.
          At BILLinois, we take data privacy very seriously, and have outlined
          this Data & Privacy Policy to demonstrate how we protect user
          information.
        </p>
        <h2>What User Data Do We Store?</h2>
        <p>We collect the following pieces of information from users:</p>
        <ul>
          <li>Email</li>
          <li>Phone Number</li>
          <li>Name</li>
        </ul>
        <p>
          All of this information is stored in a protected, remote server
          accessible to BILLinois developers only. Your password is encrypted
          before it enters our databases, meaning we never have access to your
          login credential.
        </p>
        <p>
          All of this data is stored until you delete your account. Upon
          deletion, all of your information is deleted from our application and
          databases.
        </p>
        <h2>How Do We Use Your Data?</h2>
        <p>
          We use your email to notify you when your favorited bills have
          important updates (moved to committee, voted on, etc.). We have also
          built out functionality for notifications via phone number, which is
          pending vendor approval. We will never sell or forward your data to a
          3rd party. We will also never ask for sensitive information (credit
          card information, social security numbers, etc.).
        </p>
        <h2>Additional Information</h2>
        <p>
          If you have any questions about our data collection practices, please
          contact our team at
          <a href="mailto:billinois.app@gmail.com">billinois.app@gmail.com</a>
        </p>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <footer class="footer">
          <div class="content has-text-centered">
            <p>
              <a href="/">Return Home</a>
            </p>
          </div>
        </footer>
      </div>
    </section>
  </body>
</html>
