<!doctype html>
<html data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Search Results</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css"
    />
    <!-- DataTables Customization -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.3/css/bulma.min.css"/>
    <link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel = "stylesheet" href="https://cdn.datatables.net/2.3.1/css/dataTables.bulma.css"/>  

    <!-- Link to custom CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="../static/css/custom.css" />
  </head>
  <body>
    <section class="section">
      <div class="container" style="max-width: 100%">
        <div class="columns is-vcentered is-mobile" style="margin: 0">
          <!-- Title Column -->
          <div class="column is-narrow" style="padding-left: 0; flex-grow: 0">
            <a href="/"
              ><h1 class="title is-1 custom-text-dark">BILLinois</h1>
            </a>
          </div>
          <!--Search Bar -->
          <div class="column" style="flex-grow: 1">
            <div class="container is-max-tablet">
              <form method="GET" action="/search">
                <div class="field has-addons">
                  <p class="control">
                    <span class="select">
                      <select name="state">
                        <option value="" disabled selected>
                          Select a state
                        </option>
                        {% for abbr, name in states %}
                        <option value="{{ name }}">{{ name }}</option>
                        {% endfor %}
                      </select>
                    </span>
                  </p>
                  <p class="control is-expanded">
                    <input
                      class="input"
                      type="text"
                      name="query"
                      placeholder="Search bills by name or topic..."
                    />
                  </p>
                  <p class="control">
                    <button class="button">Search</button>
                  </p>
                </div>
              </form>
            </div>
          </div>
          <!-- Dropdown Menu -->
          <nav
            class="navbar"
            role="navigation"
            aria-label="dropdown navigation"
          >
            <div class="navbar-brand">
              <a
                role="button"
                class="navbar-burger"
                aria-label="menu"
                aria-expanded="false"
                data-target="navbarMenu"
              >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link"> Menu </a>
                  <div class="navbar-dropdown is-boxed">
                    {% if user.is_authenticated %}
                    <a href="/favorites" class="navbar-item">My Account</a>
                    <a href="/accounts/logout" class="navbar-item">Sign Out</a>
                    {% else %}
                    <a href="/accounts/login" class="navbar-item">Log In</a>
                    <a href="/accounts/signup/" class="navbar-item">Sign Up</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </section>
    {% if results %}
    <section class="section">
      <div class="title is-4 mb-6 custom-text-dark">
        <!-- prettier-ignore -->
        {% if state %}           
          Search results for "{{ query }}" in {{ state }}.
        <!-- prettier-ignore -->
        {% else %}
          <!-- prettier-ignore -->
          {% if topic %}
            Search results for "{{ topic }}" in all states.
          <!-- prettier-ignore -->
          {% else %}
          Search results for "{{ query }}" in all states. 
          <!-- prettier-ignore -->
          {% endif %}
        <!-- prettier-ignore -->
        {% endif %}
      </div>
      <table id="search" class="table bg-light is-hoverable">
        <thead>
          <tr>
            <th class="is-size-5 custom-text-dark">Bill Number</th>
            <th class="is-size-5 has-text-centered custom-text-dark">
              Bill Title
            </th>
            <th class="is-size-5 has-text-centered custom-text-dark">
              Latest Status
            </th>
            <th class="is-size-5 has-text-centered custom-text-dark">Topics</th>
            <th class="is-size-5 has-text-centered custom-text-dark">
              Favorite
            </th>
          </tr>
        </thead>
        <tbody>
          {% for bill in results %}
          <tr>
            <td class="py-5 custom-text-dark has-text-weight-semibold">{{ bill.number }}</td>
            <td class="has-text-centered py-5 custom-text-dark">
              <a href="/bill/{{bill.bill_id}}/">{{bill.title}}</a>
            </td>
            <td class="has-text-centered py-5 status-column custom-text-dark">
              {{ bill.status }}
            </td>
            <td class="has-text-centered py-5">
              <!-- Add multiple tags here -->
              <div class="grid">
                <!-- prettier-ignore -->
                {% for topic in bill.topics %}
                <span
                  class="{% if topic == 'Education' %}button-blue {% elif topic == 'Energy/Environment' %}button-green {% elif topic == 'Health' %}button-red {% elif topic == 'Transportation' %}button-purple {% elif topic == 'Housing' %}button-pink {% elif topic == 'LGBTQIA' %}button-yellow {% endif %} tag is-rounded is-medium"
                  >{{ topic }}
                </span>
                {% endfor %}
              </div>
            </td>
            <td class="has-text-centered py-5">
              {% if user.is_authenticated %}
              <!-- prettier-ignore -->
              {% include "partials/favorite_button.html" with bill=bill is_favorite=bill.favorite %}
              {% else %}
              <a href="/accounts/login" class="icon custom-yellow"><i class="fa-regular fa-star fa-xl"></i></a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </section>
      <section class="section"> 
        <!-- Pagination controls -->
        <nav class="pagination is-centered is-rounded" role="navigation" aria-label="pagination">
          {% if results.has_previous %}
            <a class="pagination-previous" href="?page={{ results.previous_page_number }}&{{ pagination_query }}">Previous</a>
          {% else %}
            <a class="pagination-previous" disabled>Previous</a>
          {% endif %}

          {% if results.has_next %}
            <a class="pagination-next" href="?page={{ results.next_page_number }}&{{ pagination_query }}">Next</a>
          {% else %}
          <li>
            <a
              class="pagination-link"
              href="?page={{ num }}&query={{ query }}"
              aria-label="Goto page {{ num }}"
              >{{ num }}</a
            >
          </li>
          <!-- prettier-ignore -->
          {% endif %}
          <!-- prettier-ignore -->
          {% endif %}
          <!-- prettier-ignore -->
          {% endfor %}
          <ul class="pagination-list">
            {% if results.number > 3 %}
              <li><a class="pagination-link" href="?page=1&{{ pagination_query }}">1</a></li>
              {% if results.number > 4 %}
                <li><span class="pagination-ellipsis">&hellip;</span></li>
              {% endif %}
            {% endif %}

            <!-- prettier-ignore -->
            {% for num in results.paginator.page_range %}
              <!-- prettier-ignore -->
              {% if num >= results.number|add:'-2' and num <= results.number|add:'2' %}
                <!-- prettier-ignore -->
                {% if num == results.number %}
                  <li>
                    <a class="pagination-link is-current" aria-label="Page {{ num }}" aria-current="page">{{ num }}</a>
                  </li>
                <!-- prettier-ignore -->
                {% else %}
                  <li>
                    <a class="pagination-link" href="?page={{ num }}&{{ pagination_query }}" aria-label="Goto page {{ num }}">{{ num }}</a>
                  </li>
                <!-- prettier-ignore -->
                {% endif %}
              <!-- prettier-ignore -->
              {% endif %}
            <!-- prettier-ignore -->
            {% endfor %}

            <!-- prettier-ignore -->
            {% if results.number < results.paginator.num_pages|add:'-2' %}
              <!-- prettier-ignore -->
              {% if results.number < results.paginator.num_pages|add:'-3' %}
                <li><span class="pagination-ellipsis">&hellip;</span></li>
              <!-- prettier-ignore -->
              {% endif %}
              <li>
                <a class="pagination-link" href="?page={{ results.paginator.num_pages }}&{{ pagination_query }}">{{ results.paginator.num_pages }}</a>
              </li>
            <!-- prettier-ignore -->
            {% endif %}
          </ul>
        </nav>
        <!-- prettier-ignore -->
        {% else %}
          <p class="has-text-centered custom-text-dark">No results found. Please try a different search term.</p>
        <!-- prettier-ignore -->
        {% endif %}
      </section>
    <!-- JS for burger menu -->
    <script src="../static/js/burger.js"></script>

    <!-- JS for DataTable -->
    {% if results %}
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.3.1/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.1/js/dataTables.bulma.js"></script>
    <script src="../static/js/datatable.js"></script>
    {% endif %}

    <!-- HTMX Script -->
    <script src="https://unpkg.com/htmx.org"></script>

  </body>
</html>
