<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Billinois</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">
     <!-- Link to custom CSS -->
     <link rel="stylesheet" href="file:///Users/livia/Documents/spring-25/se/BILLinois/static/css/custom.css">
  </head>
  <body>
    <section class="section">
      <div class="container" style="max-width: 100%;">
        <div class="columns is-vcentered is-mobile" style="margin: 0;">
          <!-- Title Column -->
          <div class="column is-narrow" style="padding-left: 0; flex-grow: 0;">
              <h1 class="title is-1">BILLinois</h1>
          </div>
          <!-- Search Column -->
          <div class="column" style="flex-grow: 1;">
            <!-- Search Bar -->
            <div class="container is-max-tablet">
              <form method="GET" action="/search">
                <div class="field">
                  <p class="control has-icons-left">
                  <input class="input" type="text" name="query" placeholder="Search bills by name or topic..." />
                  <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                  </span>
                  <input type="submit" value="Search" class="button is-hidden">
                </div>
                </form>
              </p>
            </div>
          </div>
                <!-- Menu Column -->
                <div class="column is-narrow has-text-right" style="flex-grow:0;">
                  <!-- Home Link -->
                  <a href="/home" class="icon-text has-text-link ml-4 is-clickable hover-link">
                    <span class="icon">
                      <i class="fas fa-home"></i>
                    </span>
                    <span>Home</span>
                  </a>
                  <!-- Separator -->
                  <span class="mx-1">|</span>
                  <!-- Sign In Link -->
                  <a href="/signin" class=" icon-text has-text-link is-clickable hover-link">
                    <span class="icon">
                      <i class="fa-solid fa-circle-user"></i>
                    </span>
                    <span>Sign in</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% if results %}
    <section class="section">
        <div class="title is-4 mb-6">Search results for "{{ query }}"</div>
        <table class="table is-hoverable">
            <thead>
                <tr>
                <th class="is-size-5">Bill Number</th>
                <th class="is-size-5 has-text-centered">Bill Title</th>
                <th class="is-size-5 has-text-centered">Latest Status</th>
                <th class="is-size-5 has-text-centered">Topics</th>
                <th class="is-size-5 has-text-centered">Favorite</th>
                </tr>
            </thead>
            <tbody>
              {% for bill in results %}
                <tr>
                  <td class="py-5">{{ bill.number }}</td>
                  <td class= "has-text-centered py-5">{{ bill.title}}</td>
                  <td class="has-text-centered py-5 status-column">{{ bill.status }}</td>
                  <td class="has-text-centered py-5">
                    <!-- Add multiple tags here -->
                     <div class="grid">
                    <span class="tag is-link is-rounded">Example topic</span> 
                  </div>
                  </td>
                  <td class="has-text-centered py-5">
                    <span class="icon has-text-warning">
                      <i class="fa-regular fa-star fa-lg"></i>
                    </span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
        </table>
        {% else %}
            <p class="has-text-centered">Please enter a search term.</p>
        {% endif %}



<!--      <tr>
  <td class="py-5">COUNTIES CD-RECALL OFFICIALS</td>
  <td class="has-text-centered py-5">SB 1954</td>
  <td class="has-text-centered py-5 status-column">Assigned to Ethics and Elections</td>
  <td class="has-text-centered py-5">

      <span class="tag is-success">Counties</span>
      <span class="tag is-info">Elections and Referendums</span>
  </td>
  <td class="has-text-centered py-5">
      <span class="icon has-text-warning">
      <i class="fa-regular fa-star fa-lg"></i>
      </span>
  </td>
</tr>
-->