<nav>
    <a href="/accounts/signup/">Sign Up</a>
    <a href="/accounts/login/">Login</a>
    {% if user.is_authenticated %}
        <a href="/accounts/logout/">Logout</a>
    {% endif %}
</nav>
<h1>Billinois</h1>
<form method="GET" action="/search/">
    <input type="text" name="query" placeholder="Search Bill Summary">
    <input type="submit" value="Search">
</form>
<!-- {% if query %}
    <h2>Search Results for "{{ query }}"</h2>
    <p>Results will be displayed here.</p>
{% else %}
    <p>Please enter a search term.</p>
{% endif %} -->

{% if results %}
<h2>Search Results for {{ query }}</h2>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Number</th>
            <th>Status</th>
            <th>Topics</th>
            <th>Summary</th>
            <th>Favorite</th>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for bill in results %}
        <tr>
            <td>{{ bill.title}}</td>
            <td>{{ bill.number }}</td>
            <td>{{ bill.status }}</td>
            <td>TO BE IMPLEMENTED</td>
            <td>{{ bill.summary }}</td>
            <td>TO BE IMPLEMENTED</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Please enter a search term.</p>
{% endif %}